body {
  padding: 0;
  margin: 0;
}
/*html, body, #app {
  height: 100%;
}*/

html, body {
  height: 100%;
}

#app {
  height: 60%;
}

#list {
  position: relative;
  float:left;
  height: 40%;
}

/*.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}*/
